@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0D1117;
    font-family: "Work Sans", sans-serif;
}